<ngx-board-layout
  [tracks]="tracksObj"
  gutter="20px"
  spacing="20"
  [style.background-color]="'lightgray'"
>
  <div
    ngxBoardCard
    *ngFor="let card of cards; index as i"
    [style.background-color]="card.color"
  >
    <div>Card with content</div>
    {{ card.content }}
  </div>
</ngx-board-layout>
<div>
  <button (click)="addTrack()">Add track</button>
  <button (click)="removeTrack()">Remove track</button>
  <button (click)="addCard()">Add card</button>
  <button (click)="removeLastCard()">Remove last card</button>
</div>
